{% load humanize %}

<div class="grid-row">
  <div class="column-full">
<table class="attachments row-tags">
<thead>
  <tr>
    <th scope='col'>Attachment</th>
    {% if tags %}<th scope='col'>Tags</th>{% endif %}
    <th scope='col'>Suffix</th>
    <th scope='col' class="numeric">Size (Bytes)</th>
  </tr>
</thead>
<tbody>

{% for attachment in attachments %}
    <tr>
      <td><a href="/attachment/{{ attachment.attachment }}/">{{ attachment.name }}</a></td>
      {% if tags %}
      <td>
        <div id="tags">
          <ul class="taggle_list">
            {% for tag in attachment.tags.all|dictsort:"slug"  %}
            <li class="taggle "><span class="taggle_text"><a href="/attachments/tag/{{ tag.slug }}">{{ tag.name }}</a></span></li>
            {% endfor %}
          </ul>
        </div>
      </td>
      {% endif %}
      <td>{{ attachment.suffix }}</dt>
      <td class="numeric">{{ attachment.size | intcomma }}</td>
    </tr>
{% endfor %}

</tbody>
</table>
  </div>
</div>
