{% load humanize %}

<div class="grid-row">
  <div class="column-full">
<table class="attachments">
<thead>
  <tr>
    <th scope='col'>Attachment</th>
    <th scope='col'>Reference</th>
    <th scope='col'>Suffix</th>
    <th scope='col' class="numeric">Size (Bytes)</th>
  </tr>
</thead>
<tbody>

{% for attachment in attachments %}
    <tr>
      <td><a href="/attachment/{{ attachment.attachment }}/">{{ attachment.name }}</a></td>
      <td><a href="/ref/{{attachment.ref}}">{{ attachment.ref }}</a></dt>
      <td><a href="/suffix/{{attachment.suffix}}">{{ attachment.suffix }}</a></dt>
      <td class="numeric">{{ attachment.size | intcomma }}</td>
    </tr>
{% endfor %}

</tbody>
</table>
  </div>
</div>
