{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load govuk %}

{% block content %}
  <div class="breadcrumbs">
    <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/organisations">Organisations</a></li>
        <li>
  {% for organisation in organisations %}
      <a href="/organisation/{{ organisation.organisation }}/">{{ organisation.name }}</a>{% include "_comma.html" %}
  {% endfor %}
        </li>
    </ol>
    <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/pages">Pages</a></li>
        <li><a href="/page/{{ attachment.page.page }}/">{{ attachment.page.name }}</a></li>
        <li><a href="/attachment/{{ attachment.attachment }}">{{ attachment.name }}</a></li>
    </ol>
  </div>

<h1 class="heading-xlarge">
  <span class="heading-secondary">Attachment</span>
  Downloads
</h1>

<table class="downloads">
<thead>
  <tr>
    <th scope="col">Month</th>
    <th scope="col" class="numeric">Count</th>
  </tr>
</thead>
<tbody>

<div class="grid-row">
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">{{ peak|intcomma }}</span>
      <span class="data-item font-xsmall">Peak month</span>
    </div>
  </div>
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">{{ mean|intcomma }}</span>
      <span class="data-item font-xsmall">Average per-month</span>
    </div>
  </div>
</div>


{% for d in downloads %}
    <tr>
      <td><a href="/attachments/downloads/{{d.month}}">{{ d.month|govuk_date|safe }}</a></td>
      <td class="numeric">{{ d.count|intcomma }}</a></td>
    </tr>
{% endfor %}

</tbody>
</table>
{% endblock %}
