{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load sparklines %}

{% block content %}
{% include '_breadcrumbs.html' %}

<h1 class="heading-xlarge">
  <span class="heading-secondary">Attachment</span>
  {{attachment.name}}
</h1>


{% if attachment.page_count %}
<div class="sheets">
  <ul>
  {% for sheet in sheets %}
    <li class="sheet">
      <ul class="toolbar">
        <li>
        <a class="pilcrow" id="sheet-{{ sheet.number }}" href="#sheet-{{ sheet.number }}">¶</a>
        {% if user.is_authenticated %}
          <a href="sheet/{{ sheet.number }}/snippets/create" aria-hidden="true">Create a snippet</a>
        {% endif %}
        </li>
        <li><a href="{{ sheet.href }}"><span>Sheet {{ sheet.number }}</a></li>
      </ul>
      <img src="{{ sheet.src }}" alt="">
    </li>
  {% endfor %}
  </ul>
</div>
{% else %}
  <p><a href="{{ attachment.url }}/">{{ attachment.attachment }}/{{ attachment.filename }}</a></p>
{% endif %}


{% csrf_token %}
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium"><label for="tags">Tags</label></h2>
      <div id="tags">
{% if not user.is_authenticated %}
<ul class="taggle_list">
  {% for tag in attachment.tags.all|dictsort:"slug"  %}
  <li class="taggle "><span class="taggle_text"><a href="/attachments/tag/{{ tag.slug }}">{{ tag.name }}</a></span></li>
  {% endfor %}
</ul>
{% endif %}
      </div>
    </div>
  </div>


<div class="grid-row">
  <div class="column-one-quarter">

    <h2 id="publication" class="heading-medium"><a href="{{ attachment.page.url }}">Publication</a></h2>
    {% if attachment.ref %}
    <h3 class="heading-small">Reference</h3>
    <p><a href="/ref/{{attachment.ref|urlencode}}">{{ attachment.ref }}</a></p>
    {% endif %}

  </div>

  <div class="column-one-quarter">
    <h2 id="file" class="heading-medium"><a href="{{ attachment.url }}">File</a></h2>

    <h3 class="heading-small">Suffix</h3>
    <p><a href="/suffix/{{attachment.suffix}}">{{ attachment.suffix }}</a></p>

    <h3 class="heading-small">Mime</h3>
    <p class="mime">{{ attachment.mime }}</p>

    <h3 class="heading-small">Size</h3>
    <p>{{ attachment.size|intcomma }} Bytes</p>

    {% if attachment.page_count %}
    <h3 class="heading-small">Page-count</h3>
    <dd>{{attachment.page_count}}</dd>
    {% endif %}

  </div>

  <div class="column-one-quarter">
    <h2 id="history" class="heading-medium">History</h2>

    <h3 class="heading-small">Created</h3>
    <p>{{ attachment.created }}</p>

    <h3 class="heading-small">Modified</h3>
    <p>{{ attachment.modified }}</p>
  </div>
  <div class="column-one-quarter">
    <h2 id="downloads" class="heading-medium"><a href="downloads">Downloads</a></h2>

    <embed src="{% static 'images/line.svg' %}?{{ counts | sparkcounts }}" type="image/svg+xml" width="160px" height="30px">

    <h3 class="heading-small">Peak month</h3>
    <p>{{ peak|intcomma }}</p>

    <h3 class="heading-small">Average month</h3>
    <p>{{ mean|intcomma }}</p>

  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2 id="metadata" class="heading-medium">Metadata</h2>
    <div class="panel attachment"><p>{{ attachment.magic }}</p></div>
  </div>
</div>


{% if attachment.mime == "application/pdf" %}
<div class="grid-row">
  <div class="column-full">
    <h2 id="document" class="heading-medium"><a href="{{attachment.url}}">Document</a></h2>
    <object data="{{attachment.url}}" type="{{attachment.mime}}" width="100%" height="800px"></object>
  </div>
</div>
{% endif %}


{% if text %}
<div class="grid-row">
  <div class="column-full">
    <h2 id="text" class="heading-medium"><a href="{{ text_url }}">Text</a></h2>
    <div class="panel attachment"><pre>{{ text }}</pre></div>
  </div>
</div>
{% endif %}


</tbody>
</table>

{% endblock %}

{% block body_end_script %}
<script>
{% if user.is_authenticated %}
function actionTag(method, tag) {
  var csrftoken = $("[name=csrfmiddlewaretoken]").val();
  $.ajax({
    type: method,
    headers: { 'X-CSRFToken': csrftoken },
    url: 'tag/' + tag
  });
}

function tagFormatter(li) {
  var tag = $(li).children('.taggle_text').text();
  $(li).children('.taggle_text').wrap('<a href="/attachments/tag/' + tag + '"/>');
  return li;
}

$(function() {
  $.getJSON( "tags.json", function(data) {
    new Taggle('tags', {
      tags: data.tags,
      preserveCase: true,
      placeholder: '',
      onTagAdd: function(event, tag) {
        actionTag('PUT', tag);
      },
      onTagRemove: function(event, tag) {
        actionTag('DELETE', tag);
      },
      tagFormatter: tagFormatter
    });
  });
});
{% endif %}
</script>
{% endblock %}
