{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="breadcrumbs">
    <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/organisations">Organisations</a></li>
        <li>
  {% for organisation in organisations %}
      <a href="/organisation/{{ organisation.organisation }}/">{{ organisation.name }}</a>{% include "_comma.html" %}
  {% endfor %}
        </li>
    </ol>
    <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/pages">Pages</a></li>
        <li><a href="/page/{{ attachment.page.page }}/">{{ attachment.page.name }}</a></li>
    </ol>
  </div>


<h1 class="heading-xlarge">
  <span class="heading-secondary">Attachment</span>
  {{attachment.name}}
</h1>

{% csrf_token %}

<dl class="attachment">

  <dt>Tags</dt>
  <dd class="tagbox">
  <div class="grid-row">
    <div class="column-full">
      <div id="tags">

{% if not user.is_authenticated %}
<ul class="taggle_list">
  {% for tag in attachment.tags.all|dictsort:"slug"  %}
  <li class="taggle "><span class="taggle_text"><a href="/attachments/tag/{{ tag.slug }}">{{ tag.name }}</a></span></li>
  {% endfor %}
</ul>
{% endif %}

      </div>
    </div>
  </div>
  </dd>

  {% if attachment.page_count %}
  <dt>Sheets</dt>
  <dd>
{% for sheet in sheets %}
  <a href="{{ sheet.href }}"><img src="{{ sheet.src }}" alt="" class="sheet"></a>
{% endfor %}
   </dd>
   {% endif %}


  <dt>Published by</dt>
  <dd>{% for organisation in organisations %}
      <a href="/organisation/{{ organisation.organisation }}/">{{ organisation.name }}</a>{% include "_comma.html" %}
  {% endfor %}
  </dd>

  <dt>Attachment</dt>
  <dd><a href="{{ attachment.url }}/">{{ attachment.attachment }}/{{ attachment.filename }}</a></dd>

  {% if attachment.ref %}
  <dt>Reference</dt>
  <dd><a href="/ref/{{attachment.ref}}">{{ attachment.ref }}</a></dd>
  {% endif %}

  <dt>Suffix</dt>
  <dd><a href="/suffix/{{attachment.suffix}}">{{ attachment.suffix }}</a></dd>

  <dt>Mime</dt>
  <dd><a href="/mime/{{attachment.mime}}">{{ attachment.mime }}</a></dd>

  <dt>Number of sheets</dt>
  <dd>{{attachment.page_count}}</dd>

  <dt>Size</dt>
  <dd>{{ attachment.size }} Bytes</dd>

  <dt>Magic</dt>
  <dd>
    <div class="panel panel-border-wide"><p>{{ attachment.magic }}</p></div>
  </dd>

  {% if text %}
  <dt><a href="{{ text_url }}">Text</a></dt>
  <dd>
    <div class="panel panel-border-wide"><pre>{{ text }}</pre></div>
  </dd>
  {% endif %}

</dl>


<h2 class="heading-medium">Downloads</h2>
<table class="downloads">
<thead>
  <tr>
    <th scope="col">month</th>
    <th scope="col" class="numeric">count</th>
  </tr>
</thead>

{% for download in downloads %}
    <tr>
      <td>{{ download.month }}</a></td>
      <td class="numeric">{{ download.count }}</a></td>
    </tr>
{% endfor %}

</table>

{% endblock %}

{% block body_end_script %}
<script>
{% if user.is_authenticated %}
function actionTag(method, tag) {
  var csrftoken = $("[name=csrfmiddlewaretoken]").val();
  $.ajax({
    type: method,
    headers: { 'X-CSRFToken': csrftoken },
    url: 'tag/' + tag
  });
}

function tagFormatter(li) {
  var tag = $(li).children('.taggle_text').text();
  $(li).children('.taggle_text').wrap('<a href="/attachments/tag/' + tag + '"/>');
  return li;
}

$(function() {
  $.getJSON( "tags.json", function(data) {
    new Taggle('tags', {
      tags: data.tags,
      preserveCase: true,
      placeholder: '',
      onTagAdd: function(event, tag) {
        actionTag('PUT', tag);
      },
      onTagRemove: function(event, tag) {
        actionTag('DELETE', tag);
      },
      tagFormatter: tagFormatter
    });
  });
});
{% endif %}
</script>
{% endblock %}
