{% extends "base.html" %}

{% block attachments_tags_active %} class="active"{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column-full">
    <div class="breadcrumbs">
      <ol>
          <li><a href="/">Form explorer</a></li>
          <li><a href="/attachments">Attachments</a></li>
      </ol>
    </div>

    <h1 class="heading-xlarge">Tags</h1>
    <div class="data">
      <span class="data-item bold-xxlarge">{{ tags|length }}</span>
      <span class="data-item font-xsmall">Tags</span>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <table>
      <thead>
      <tr>
        <th>Tag</th>
        <th class="numeric">Count</th>
      </tr>
      </thead>

      <tbody>
    {% for tag in tags %}
        <tr>
          <td><a href="/attachments/tag/{{tag.slug}}">{{tag.name}}</a></td>
          <td class="numeric">{{tag.count}}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
