{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="breadcrumbs">
    <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/attachments">Attachments</a></li>
        <li><a href="/attachments/tags">Tags</a></li>
    </ol>
  </div>

<h1 class="heading-xlarge">
  <span class="heading-secondary">Tag</span>
  <span contenteditable="true" data-name="tag.name" data-url="{{ request.path }}/name">{{ tag.name }}</span>
</h1>

{% csrf_token %}

{% include "_attachments.html" %}

{% endblock %}
