{% extends "base.html" %}
{% load staticfiles %}
{% load sparklines %}

{% block attachments_active %} class="active"{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column-full">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/pages">Pages</a></li>
      </ol>
    </div>
    <h1 class="heading-xlarge">
      Attachments
      <embed src="{% static 'images/bar.svg' %}?{{ sizes | sparkcounts }}" type="image/svg+xml" width="80px" height="30px">
    </h1>
  </div>
</div>

{% include "_attachments_homebar.html" %}

<div class="grid-row">
  <div class="column-full">
    {% include "_attachments.html" %}
  </div>
</div>

{% endblock %}
