{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="breadcrumbs">
    <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/organisations">Organisations</a></li>
        <li>
  {% for organisation in organisations %}
      <a href="/organisation/{{ organisation.organisation }}/">{{ organisation.name }}</a>{% include "_comma.html" %}
  {% endfor %}
        </li>
    </ol>
    <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/pages">Pages</a></li>
        <li><a href="/page/{{ attachment.page.page }}/">{{ attachment.page.name }}</a></li>
    </ol>
  </div>

<h1 class="heading-xlarge">
  <span class="heading-secondary">Attachment</span>
  {{attachment.name}}
</h1>

<dl class="attachment">
  <dt>Published by</dt>
  <dd>{% for organisation in organisations %}
      <a href="/organisation/{{ organisation.organisation }}/">{{ organisation.name }}</a>{% include "_comma.html" %}
  {% endfor %}
  </dd>


  <dt>Attachment</dt>
  <dd><a href="{{ attachment.url }}/">{{ attachment.attachment }}/{{ attachment.filename }}</a></dd>

  {% if attachment.ref %}
  <dt>Reference</dt>
  <dd><a href="/ref/{{attachment.ref}}">{{ attachment.ref }}</a></dd>
  {% endif %}

  <dt>Suffix</dt>
  <dd><a href="/suffix/{{attachment.suffix}}">{{ attachment.suffix }}</a></dd>

  <dt>Mime</dt>
  <dd><a href="/mime/{{attachment.mime}}">{{ attachment.mime }}</a></dd>


  <dt>Size</dt>
  <dd>{{ attachment.size }} Bytes</dd>

  <dt>Magic</dt>
<dd>
<div class="panel panel-border-wide">
  <p>{{ attachment.magic }}</p>
</div>
</div>
</dd>

</dl>


<h2 class="heading-medium">Downloads</h2>
<table class="downloads">
<thead>
  <tr>
    <th scope="col">month</th>
    <th scope="col" class="numeric">count</th>
  </tr>
</thead>

{% for download in downloads %}
    <tr>
      <td>{{ download.month }}</a></td>
      <td class="numeric">{{ download.count }}</a></td>
    </tr>
{% endfor %}

</table>

{% endblock %}
