{% extends "govuk_base.html" %}
{% load staticfiles %}

{% block page_title %}Form explorer{% endblock %}
{% block header_class %}with-proposition{% endblock %}

{% block head %}
  <!--[if gt IE 8]><!--><link href="{% static 'stylesheets/govuk-elements-styles.css?2' %}"  rel="stylesheet" type="text/css"><!--<![endif]-->
  <!--[if IE 6]><link href="{% static 'stylesheets/govuk-elements-styles-ie6.css?2' %}" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 7]><link href="{% static 'stylesheets/govuk-elements-styles-ie7.css?2' %}" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 8]><link href="{% static 'stylesheets/govuk-elements-styles-ie8.css?2' %}" rel="stylesheet" type="text/css" /><![endif]-->

  <link href="{% static 'stylesheets/styles.css?1' %}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <a href='#proposition-links' class='js-header-toggle menu'>Menu</a>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Form explorer</a>
        <span class="login">
        {% if user.username %}
        Logged in as <a href="">{{ user.username }}</a>
        <a class="logout" href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
        </span>
      <ul id='proposition-links'>
        <li><a href="/organisations"{% block organisations_active %}{% endblock %}>Organisations</a>
        <li><a href="/pages"{% block pages_active %}{% endblock %}>Pages</a>
        <li><a href="/attachments"{% block attachments_active %}{% endblock %}>Attachments</a>
        <li><a href="/attachments/tags"{% block attachments_tags_active %}{% endblock %}>Tags</a>
        <li><a href="/search"{% block search_active %}{% endblock %}>Search</a>

<!--
        <li><a href="/suffixes"{% block suffixes_active %}{% endblock %}>Suffixes</a>
        <li><a href="/refs"{% block refs_active %}{% endblock %}>References</a>
        <li><a href="/forms">forms</a>
        <li><a href="/questions">questions</a>
        <li><a href="/admin">admin</a>
-->
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

{% block main %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a prototype.</span>
      </p>
      </div>
    </div>
  </div>

    {% block content %}{% endblock %}
</main>
{% endblock %}

{% block body_end %}
<script type="text/javascript" src="{% static 'vendor/jquery-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/taggle.js' %}"></script>
<script>
function month(name) {
  return "JanFebMarAprMayJunJulAugSepOctNovDec".indexOf(name) / 3 + 1;
}

function pad(num) {
    var s = "00" + num;
    return s.substr(s.length-2);
}

$(function () {
  $.tablesorter.addParser({
        id: 'when',
        format: function d(s) {
          a = s.split(" ");
          return a[2] + pad(month(a[1])) + pad(a[0]);
        },
        type: 'text'
  }); 

  $("table").tablesorter();
});
</script>

{% if user.is_authenticated %}
<script>
/* bind ESC/ENTER keys for contenteditable */
$(function () {
  document.addEventListener('keydown', function (event) {
    var el = event.target,
        key = event.which,
        data = {};

    if (!$(el).attr("contentEditable") == "true") {
      return;
    }

    if (key == 27) {
      el.blur();
      return;
    }

    if (key == 13) {
      document.execCommand('submit');
      data[el.getAttribute('data-name')] = el.innerHTML;
      $.ajax({
        type: 'PUT',
        url: el.getAttribute('data-url'),
        headers: { 'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val() },
        dataType: "json",
        data: JSON.stringify(data)
      });

      el.blur();
      event.preventDefault();
    }
  }, true);
});
</script>
{% endif %}
{% block body_end_script %}{% endblock %}
{% endblock %}
