<!DOCTYPE html>
<html>
<head>
<title>Government Forms Explorer</title>
<style>
th {
  text-align: left;
}
</style>
</head>
<body>

<h1><a href="/">Government Forms Explorer</a></h1>

<ul>
<li><a href="/organisations">organisations</a>
<li><a href="/pages">pages</a>
<li><a href="/attachments">attachments</a>

<!--
<li><a href="/forms">forms</a>
<li><a href="/questions">questions</a>
<li><a href="/snippets">snippet</a>
-->
<li><a href="/admin">admin</a>
</ul>


{% block content %}{% endblock %}

</body>
</html>
