{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load govuk %}
{% load sparklines %}

{% block pages_active %} class="active"{% endblock %}
{% block content %}
<div class="grid-row">
  <div class="column-full">
    {% include '_breadcrumbs.html' %}

    <h1 class="heading-xlarge">
      <span class="heading-secondary">Attachments</span>
      Downloads
      <embed src="{% static 'images/line.svg' %}?{{ counts | sparkcounts }}" type="image/svg+xml" width="160px" height="30px">
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">{{ mean|intword }}</span>
      <span class="data-item font-xsmall">Average per-month</span>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
<table class="downloads">
<thead>
<tr>
    <th class="sorter-when">Month</th>
    <th class="numeric">Attachments</th>
    <th class="numeric">Downloads</th>
</tr>
</thead>
<tbody>

{% for d in downloads %}
    <tr>
      <td><a href="{{d.month}}">{{ d.month|govuk_date|safe }}</a></td>
      <td class="numeric">{{ d.attachments|intcomma }}</a></td>
      <td class="numeric">{{ d.downloads|intcomma }}</a></td>
    </tr>
{% endfor %}

</tbody>
</table>
  </div>
</div>

{% endblock %}
