{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load govuk %}
{% load sparklines %}

{% block pages_active %} class="active"{% endblock %}
{% block content %}
<div class="grid-row">
  <div class="column-full">
    <div class="breadcrumbs">
      <ol>
          <li><a href="/">Form explorer</a></li>
          <li><a href="/attachments">Attachments</a></li>
          <li><a href="/attachments/downloads">Downloads</a></li>
      </ol>
    </div>

    <h1 class="heading-xlarge">
      <span class="heading-secondary">Attachment downloads</span>
      {{ month|govuk_date|safe }}
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">{{ mean|intword }}</span>
      <span class="data-item font-xsmall">Mean</span>
    </div>
  </div>
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">{% if total < 1000000 %}{{total|intcomma}}{%else%}{{ total|intword }}{% endif %}</span>
      <span class="data-item font-xsmall">Total</span>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
<table class="downloads">
<thead>
<tr>
    <th>Attachment</th>
    <th class="numeric">Downloads</th>
</tr>
</thead>
<tbody>

{% for d in downloads %}
    <tr>
      <td><a href="/attachment/{{ attachment.attachment }}/">{{ d.attachment.name }}</a></td>
      <td class="numeric">{{ d.count|intcomma }}</a></td>
    </tr>
{% endfor %}

</tbody>
</table>
  </div>
</div>

{% endblock %}
