{% extends "base.html" %}
{% load humanize %}
{% load govuk %}

{% block pages_active %} class="active"{% endblock %}
{% block content %}
<div class="grid-row">
  <div class="column-full">
    <div class="breadcrumbs">
      <ol>
          <li><a href="/">Form explorer</a></li>
          <li><a href="/attachments">Attachments</a></li>
      </ol>
    </div>

    <h1 class="heading-xlarge">
      <span class="heading-secondary">Attachments</span>
      Downloads
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">{{ peak|intword }}</span>
      <span class="data-item font-xsmall">Peak month</span>
    </div>
  </div>
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">{{ mean|intword }}</span>
      <span class="data-item font-xsmall">Average per-month</span>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
<table class="downloads">
<thead>
<tr>
    <th class="sorter-when">Month</th>
    <th class="numeric">Attachments</th>
    <th class="numeric">Downloads</th>
</tr>
</thead>
<tbody>

{% for d in downloads %}
    <tr>
      <td>{{ d.month|govuk_date|safe }}</td>
      <td class="numeric">{{ d.attachments|intcomma }}</a></td>
      <td class="numeric">{{ d.downloads|intcomma }}</a></td>
    </tr>
{% endfor %}

</tbody>
</table>
  </div>
</div>

{% endblock %}
