{% extends "base.html" %}

{% block pages_active %} class="active"{% endblock %}
{% block content %}
<div class="grid-row">
  <div class="column-full">
  {% include '_breadcrumbs.html' %}
    <h1 class="heading-xlarge">History</h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">{{ history|length }}</span>
      <span class="data-item font-xsmall">Days</span>
    </div>
  </div>
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">{{ updates }}</span>
      <span class="data-item font-xsmall">Page updates</span>
    </div>
  </div>
</div>


<div class="grid-row">
  <div class="column-full">
    <table class="history">
      <thead>
        <tr>
          <th class="sorter-when">Date</th>
          <th class="numeric">Count</th>
        </tr>
      </thead>
      <tbody>
      {% for h in history %}
        <tr>
          <td><a href="{{ h.date| date:"Y-m-d" }}"><time datetime="{{ h.timestamp }}" class="timestamp">{{ h.date }}</time></a></td>
          <td class="numeric">{{ h.count }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
