{% extends "base.html" %}

{% block pages_active %} class="active"{% endblock %}
{% block content %}
<div class="grid-row">
  <div class="column-full">
  {% include '_breadcrumbs.html' %}
  <h1 class="heading-xlarge">
  <span class="heading-secondary">Pages</span>
    Changes on {{ date }}
  </h1>

<div class="grid-row">
  <div class="column-full">
<table class="history">
<thead>
<tr>
  <th>Organisations</th>
  <th>Page</th>
  <th>Text</th>
</tr>
</thead>
<tbody>

{% for h in history %}
    <tr>
      <td>
  {% for organisation in h.page.organisations.all %}
      <a href="/organisation/{{ organisation.organisation }}/">{{ organisation.name }}</a>{% include "_comma.html" %}
  {% endfor %}
      </td>
      <td><a href="/page/{{ h.page.page }}">{{ h.page.name }}</a></td>
      <td>{{ h.text }}</a></td>
    </tr>
{% endfor %}

</tbody>
</table>
  </div>
</div>

{% endblock %}
