{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load govuk %}

{% block content %}
<div id='homebar'>

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge">Form explorer</h1>
    <div class="text">
      <p class="lede">Analysis of <a href="https://docs.publishing.service.gov.uk/document-types/form.html">offline forms</a> published on GOV.UK.</p>
    </div>
   </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="/organisations">{{ count.organisations }}</a></span>
      <span class="data-item font-xsmall">Organisations</span>
    </div>
  </div>

  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="/pages">{{ count.pages }}</a></span>
      <span class="data-item font-xsmall">Pages</span>
    </div>
  </div>

  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="/attachments">{{ count.attachments }}</a></span>
      <span class="data-item font-xsmall">Attachments</span>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="/refs">{{ count.refs }}</a></span>
      <span class="data-item font-xsmall">Attachment references</span>
    </div>
  </div>

  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="/suffixes">{{ count.suffixes }}</a></span>
      <span class="data-item font-xsmall">Attachment suffixes</span>
    </div>
  </div>

  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="/attachments/tags">{{ count.tags }}</a></span>
      <span class="data-item font-xsmall">Tags</span>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="/pages/history">{{ count.history }}</a></span>
      <span class="data-item font-xsmall">Page updates</span>
    </div>
  </div>

  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="/attachments">{{ count.size|humansize_value }}</a></span>
      <span class="data-item font-xsmall">{{ count.size|humansize_unit }} of attachments</span>
    </div>
  </div>

  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="/attachments/downloads">{{ count.downloads | intword }}</a></span>
      <span class="data-item font-xsmall">Attachment downloads</span>
    </div>
  </div>
</div>

{% endblock %}
