{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}

<div class="grid-row">
  <div class="column-full">
    <div class="breadcrumbs">
      <ol>
          <li><a href="/">Form explorer</a></li>
          <li><a href="/organisations">Organisations</a></li>
      </ol>
    </div>

    <h1 class="heading-xlarge">
      <span class="heading-secondary">Organisation</span>
      {{organisation.name}}
    </h1>
  </div>
</div>

<div class="grid-row" id='homebar'>
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="pages">{{ pages|length }}</a></span>
      <span class="data-item font-xsmall">Pages</span>
    </div>
  </div>
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge"><a href="attachments">{{ attachments|length }}</a></span>
      <span class="data-item font-xsmall">Attachments</span>
    </div>
  </div>
</div>

<p><a href="{{ organisation.website }}">{{ organisation.name }}</a></p>


{% endblock %}
