{% extends "base.html" %}
{% load humanize %}

{% block organisations_active %} class="active"{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge">
      Organisations
    </h1>

    <div class="data">
      <span class="data-item bold-xxlarge">{{ organisations|length }}</span>
      <span class="data-item font-xsmall">Organisations</span>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <table class="organisations">
      <thead>
        <tr>
          <th>Organisation</th>
          <th class="numeric">Pages</th>
          <th class="numeric">Attachments</th>
        </tr>
    </thead>
    <tbody>
    {% for organisation in organisations %}
        <tr>
          <td><a href="/organisation/{{ organisation.organisation }}/">{{ organisation.name }}</a></td>
          <td class="numeric"><a href="/organisation/{{ organisation.organisation }}/pages">{{ organisation.pages |intcomma }}</a></td>
          <td class="numeric"><a href="/organisation/{{ organisation.organisation }}/attachments">{{ organisation.attachments | intcomma }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>

{% endblock %}
