{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h1 class="heading-xlarge">
  <span class="heading-secondary">Page</span>
  {{page.name}}
</h1>


<dl>
  <dt>Page</dt>
  <dd><a href="{{ page.url }}">{{ page.name }}</a></dd>

  <dt>Published by</dt>
  <dd>{% for organisation in organisations %}
      <a href="/organisation/{{ organisation.organisation }}/">{{ organisation.name }}</a>{% include "_comma.html" %}
  {% endfor %}
  </dd>
</dl>


<h2 class="heading-medium">Page attachments</h2>
{% include "_attachments.html" %}

<h2 class="heading-medium">Page history</h2>
{% include "_history.html" %}

{% endblock %}
