{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="breadcrumbs">
    <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/pages">Pages</a></li>
    </ol>
  </div>

<h1 class="heading-xlarge">
  <span class="heading-secondary">Page</span>
  {{page.name}}
</h1>


<dl>
  <dt>Published by</dt>
  <dd>{% for organisation in organisations %}
      <a href="/organisation/{{ organisation.organisation }}/">{{ organisation.name }}</a>{% include "_comma.html" %}
  {% endfor %}
  </dd>
</dl>


<h2 class="heading-medium">Page attachments</h2>
{% include "_attachments.html" %}

<h2 class="heading-medium">Page history</h2>
{% include "_history.html" %}

{% endblock %}
