{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h2><a href="/pages/">Page</a></h2>

<dl>
  <dt>page</dt>
  <dd>{{ page.page }}</dd>

  <dt>name</dt>
  <dd><a href="https://www.gov.uk/government/publications/{{ page.page }}">{{ page.name }}</a></dd>
</dl>

<table>
<tr>
  <th>organisation</th>
  <th>name</th>
</tr>

{% for organisation in organisations %}
    <tr>
      <td><a href="/organisation/{{ organisation.organisation }}/">{{ organisation.organisation }}</a></td>
      <td><a href="{{ organisation.website }}">{{ organisation.name }}</a></td>
    </tr>
{% endfor %}

</table>


{% endblock %}
