{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-row">
  <div class="column-full">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Form explorer</a></li>
        <li><a href="/attachments">Attachments</a></li>
      </ol>
    </div>

    <h1 class="heading-xlarge">References</h1>

    <div class="data">
      <span class="data-item bold-xxlarge">{{ refs|length }}</span>
      <span class="data-item font-xsmall">References</span>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    {% include "_refs.html" %}
  </div>
</div>

{% endblock %}
