{% extends "base.html" %}

{% block search_active %} class="active"{% endblock %}
{% block content %}
<div id="search">

<h1 class="heading-xlarge">
Search
</h1>

<form id="header-search" class="site-search" action="/search" method="get" role="search">
    <div class="header-search-content">

      <div class="search-input-wrapper">
          <input class="form-control" type="search" name="q" id="search-main" title="Search" value="{{ query }}" aria-label="Search">
          <input class="search button" type="submit" value="Search">
      </div>
    </div>
</form>


<details>
  <summary><span class="summary">Help with search</span></summary>
  <div class="panel panel-border-narrow">
    <p>Search uses the <a href="https://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Lucerne search</a>, for example:</p>
    <ul class="foo">
      <li><a href="/search?q=work+address">work address</a>
      <li><a href='/search?q="work+address"'>"work address"</a>
      <li><a href="/search?q=donkey">donkey</a></li>
      <li><a href="/search?q=signature">signature</a></li>
      <li><a href="/search?q=NOT+signature">NOT signature</a></li>
      <li><a href="/search?q=donkey+AND+NOT+signature">donkey AND NOT signature</a></li>
      <li><a href="/search?q=%28fish+AND+chips%29++AND+NOT+CERS">(fish AND chips) AND NOT CERS</a>
    </ul>
  </div>
</details>


{% if query %}
<p>
{{ response.hits.total }} results
</p>
<ol class="results-list">
{% for hit in hits %}
<li>
  <h3 class="heading-medium"><a href="/attachment/{{ hit.source.attachment }}">{{ hit.source.name }}</a></h3>
  <ul class="attributes">
    <li>Attachment</li>
  </ul>
  {% for highlight in hit.highlight.text %}
  <p class="font-xsmall">{{ highlight | safe }}</p>
  {% endfor %}
</li>
{% endfor %}
</ol>

<nav class="previous-and-next-navigation" role="navigation" aria-label="Pagination">
  <ul class="group">
  <li class="page-count">Page {{page_index}} of {{ page_count }}
{% if page_previous %}
    <li class="previous-page">
      <a rel="previous" href="?q={{ query }}&page-index={{ page_previous }}&amp;page-size={{ page_size }}">
        <span class="pagination-part-title">Previous page</span>
      </a>
    </li>
{% endif %}
{% if page_next %}
    <li class="next-page">
      <a rel="next" href="?q={{ query }}&page-index={{ page_next }}&amp;page-size={{ page_size }}">
        <span class="pagination-part-title">Next page</span>
      </a>
    </li>
{% endif %}
  </li>
  </ul>
</nav>

</div>
{% endif %}
{% endblock %}
