{% extends "base.html" %}
{% load staticfiles %}


{% block base_body_head %}
   <link rel="stylesheet" href="{% static 'vendor/cropper.css' %}">
{% endblock %}

{% block content %}
<div id="snippet-create">
<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge">
      Create a snippet
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-full" id="cropper">
    <img src="{{ sheet.proxy }}">
  </div>
</div>

<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <details>
      <summary><span class="summary">Coordinates</span></summary>
      <div class="panel panel-border-narrow">
        <label class="form-label" for="snippet-top">Top</label>
        <input class="form-control" type="text" name="top" value="{{ snippet.top }}">

        <label class="form-label" for="snippet-left">Left</label>
        <input class="form-control" type="text" name="left" value="{{ snippet.left }}">

        <label class="form-label" for="snippet-bottom">Bottom</label>
        <input class="form-control" type="text" name="bottom" value="{{ snippet.bottom }}">

        <label class="form-label" for="snippet-right">Right</label>
        <input class="form-control" type="text" name="right" value="{{ snippet.right }}">
      </div>
    </details>
  </div>

  <div class="form-group">
    <fieldset>
      <label class="form-label" for="text">Text</label>
      <input class="form-control form-control-3-4" type="text" name="text" id="text" value="{{ snippet.text }}">
    </fieldset>
  </div>


  <div class="form-group">
    <input class="submit button" type="submit" value="Create snippet">
  </div>

</form>

</div>
{% endblock %}

{% block body_end_script %}
<script src="{% static 'vendor/cropper.min.js' %}"></script>
<script>


$(function () {
  var $img = $('#cropper img'),
    $top = $('input[name="top"]'),
    $left = $('input[name="left"]'),
    $bottom = $('input[name="bottom"]'),
    $right = $('input[name="right"]');

  var cropper = new Cropper($img[0], {
      movable: true,
      zoomable: true,
      rotatable: false,
      scalable: true,
      responsive: false,
      crop: function (e) {
          var d = e.detail;
          $top.val(Math.round(d.y));
          $left.val(Math.round(d.x));
          $bottom.val(Math.round(d.y+d.height));
          $right.val(Math.round(d.x+d.width));
        }
    });
});
</script>
{% endblock %}
