dt {
  margin-top: 1.05263em;
  line-height: 1.31579;
  min-width: 120px;
}

dt::after {
  content: ":";
}

th {
  cursor: pointer;
}

#homebar .data {
  padding-bottom: 1em;
}

#homebar .data a {
  text-decoration: none;
  color: black;
}

#homebar .data a:hover {
  text-decoration: underline;
  color: black;
}

pre {
  overflow-x: auto;
}

.login, .logout {
  margin-left: 15px;
  color: white;
}

.login a:link,
.login a:visited {
  color: white;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}


/*
 *  taggle
 */
#tags {
  margin-top: 5px;
}

#tags .taggle_list {
  float: left;
  width: 100%;
}

#tags .taggle_input {
  border: none;
  font-weight: 300;
}

#tags .taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 600;
  margin-bottom: 5px;
}

.taggle_list .taggle {
  margin-right: 8px;
  background: #DEE0E2;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
}

.taggle_list .taggle_hot {
  background: #cac8c4;
}

.taggle_list .taggle .close {
  background: none;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  color: #DEE0E2;
  font-size: 1em;
  font-weight: 600;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  margin-top: 3px;
  position: relative;
}

.taggle_list .taggle:hover {
  background: #BFC1C3;
}

.taggle_list .taggle .close:hover {
  color: #B10E1E;
}

.taggle_placeholder {
  display: none;
}

.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  background: none;
}

.taggle_sizer {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 5em;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}
