dt {
  margin-top: 1.05263em;
  line-height: 1.31579;
  min-width: 120px;
}

dt::after {
  content: ":";
}

th {
  cursor: pointer;
}

#homebar .data {
  padding-bottom: 1em;
}

#homebar .data a {
  text-decoration: none;
  color: black;
}

#homebar .data a:hover {
  text-decoration: underline;
  color: black;
}

pre {
  overflow-x: auto;
}
